@media screen and  (min-width: 640px) {

    #menu{
        display: none;
    }
    header {
        display: flex;
        grid-template-columns: 150px 1fr;
        align-items: center;
        position: relative;
        opacity: 0.8;
        
    }
    .site-name {
     
        align-items: flex-start;
        padding: 1rem;
        text-align: left;
        margin: 0;

        
        
    }
    .site-name b {
        font-size: 1.5em;
        opacity: 1;
   
    }
    .site-name p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    
        
    }
    
    
    #menu-option , #menu-option.show  {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        
        
    }
    #menu-option  {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        
        
    }
    #menu-option li a {
        border: 1px solid var(--primary-color);
        text-decoration: none;
        display: block;
        padding: .5rem 2vw;
            
    }
    #menu-option li a:hover {
        background-color: green;
        color: white;
    }
    nav {
        grid-template-rows: 1fr;
        transition: none;
    }
    nav.show {
        grid-template-rows: 1fr;
        transition: none;
    }
    .hero {
        height: 100vh;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/hero.jpg");
    }
    
   
    .hero-text-small-screen {
        display: none;
    }   
    .hero-text-large-screen {
        display: block;
        position: absolute;
        top: 10rem;
        right: 2rem;
        left: 2rem;
        
    }  
    .hero-text-large-screen p {
        text-align: center;
        font-size: 2rem;
        color: white;
    }
    .hero-text-large-screen b {
        font-size: 4rem;
        font-style: italic;
        font-family: var(--text-style);
        color: white;

    }
    #text {
        color: white;
    } 
    #text span {
        color: rgb(147, 240, 15);
    }
    .items {
        top: 37%;
    }
    #name {
        top: 37%;
    }
    #name p b {
        color: white;
        font-size: 3rem;
        
    }
    #gara {
        margin-right: 5rem;
    }
    #car-house {
        margin-right: 3rem;
    }

    .service-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .trip-table table {
        width: 100%;
    
    
    
    }
   
    .slider {
        position: relative;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        
    }
    .choose-us img {
        float: left;
        width: 50%;
    }
    .choose-us p {
        text-align: center;
        margin-top: 10rem;
        margin-right: 3rem;
    }
    .choose-list i {
        margin-right: 2rem;
        
    }
    .visit {
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }


}