@media screen and (min-width: 600px) {
    @keyframes slideIn {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

     #menu{
        display: none;
    }
    header {
        display: flex;
        grid-template-columns: 150px 1fr;
        align-items: center;
        position: relative;
        opacity: 0.8;
        
    }
    .site-name {
     
        align-items: flex-start;
        padding: 1rem;
        text-align: left;
        margin: 0;

        
        
    }
    .site-name b {
        font-size: 1.5em;
        opacity: 1;
   
    }
    .site-name p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    
        
    }
    
    
    #menu-option , #menu-option.show  {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        
        
    }
    #menu-option  {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        
        
    }
    #menu-option li a {
        border: 1px solid var(--primary-color);
        text-decoration: none;
        display: block;
        padding: .5rem 2vw;
            
    }
    #menu-option li a:hover {
        background-color: green;
        color: white;
    }
    nav {
        grid-template-rows: 1fr;
        transition: none;
    }
    nav.show {
        grid-template-rows: 1fr;
        transition: none;
    }
    
    
        

  
    form {
        
        margin: 0;
        input[type=text],
        input[type=tel],
        input[type=email]
        {
            width: 80%;
        }
    
      
    }   
    
    footer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;
    }

    
   

}