:root {
    --primary-color: #002366;
    --secondary-color: #808080;
    --accent-color: #ffa500;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;   
}
#menu::before {
    content:  "☰";
    color: white;
}
#menu.show::before {
    content: "✖";
    color: red;
    
}
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 1rem;
    width: 100%;
    
    
    
}  
header img {
    margin-left: 2.3rem;
    box-shadow: 0 0 30px #777;
    margin-bottom: 0.5rem;
}
.site-name {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5rem;
}
.site-name b {
    font-size: 2em;
}
h1 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
} 

#menu {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    padding: .25rem 2vw;
    width: 100%;
    text-align: right;
    border: none;
    margin-bottom: 5rem;

}
#menu-option  li a {
    border: 1px solid var(--primary-color);
    text-decoration: none;
    display: block;
    padding: .5rem 2vw;
    
    color: white;    
}
#menu-option li a:hover {
    background-color: var(--accent-color);
    text-decoration: underline;
}
#menu-option li {
    list-style: none;
}
li.active-item a {
    background-color: rgba(0, 0, 0, 0.5);

}




nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--primary-color);
}
nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

nav.show {
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 0;
    

    
    
}
h1 {
    margin-top: 4rem;
    text-align: left;
    margin-left: 2rem;

}
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    padding-bottom: 0;

    
}
.hero img {
    width: 100%;
    
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    border: 1px groove #eee;
    background: #333;
    text-align: center;
    z-index: 1;
    width: 55%;
    max-width: 200px;
    padding: 0;
    height: auto;

}
.hero-text b {
      font-size: 1rem;
      font-family: cursive;
}
.hero-text p {
    font-size: 0.8rem;
}
.hero a {
    display: block;
    text-decoration: none;
    color: white;
    border: 1px groove;
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--accent-color);


    
    
}  

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: white;
    background-color: white;
}
.container section {
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;


}
.container section h2 {
    text-align: center;
    background-color: navy;
    color: white;
    margin: 0;
}
#Events h3 {
    text-align: center;
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

#current-weather {
    background-color: #f6f0da;
    text-align: center;
}
#town {
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
}
#weather-icon {
    width: 50px;
    height: auto;
    margin-top: 10px;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
figcaption {
    text-transform: capitalize;
    font-style: italic;
    font-size: 1rem;
    color: #333;
}
#weather-forecast {
    background-color: pink;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
}
#today {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#today div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
#today h4 {
    font-size: 1rem;
    gap: 1rem;
}
#card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
#card section {
    text-align: center;
    display: block;
    border: 1px solid black;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #EDE4E5;
    color: black;
}
#card section img {
    display: block;
    width: auto;
    max-width: 150px;
    height: 80px;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;

}
#card section h2 {
    text-align: center;
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
#card section a {
    text-align: center;
    background-color: #EDE4E5;
    border: none;
    color: black;
    font-size: 1rem;
    
}
#card section a:hover {
    color: red;
}


footer {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1rem;

}   
footer div {
    flex-direction: column;
    justify-content: space-evenly;
}
