@media screen and (min-width: 700px) {
    
    #menu{
        display: none;
    }
    header {
        display: flex;
        grid-template-columns: 150px 1fr;
        align-items: center;
        position: relative;
        opacity: 0.8;
        
    }
    .site-name {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        text-align: left;
        margin: 0;
        
    }
    .site-name p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
    
        
    }
    
    
    #menu-option , #menu-option.show  {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        
        
    }
    #menu-option  {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        
        
    }
    #menu-option li a {
        border: 1px solid var(--primary-color);
        text-decoration: none;
        display: block;
        padding: .5rem 2vw;
        color: white;    
    }
    #menu-option li a:hover {
        background-color: green;
    }
    nav {
        grid-template-rows: 1fr;
        transition: none;
    }
    nav.show {
        grid-template-rows: 1fr;
        transition: none;
    }
    .hero {
        margin: 0;
        position: relative;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        padding-bottom: 0;
        
        
    }
    
    
    .hero-text {
        position: absolute;
        top: 5rem;
        
        width: 100%;
        transform: translateX(-70%);
        max-width: 800px;
        padding: 1rem;
        
    
    }
    .hero-text b {
        font-size: 4rem;
        font-family: cursive;
    }
    .hero-text p {
        font-size: 1rem;
    }
    .hero a {
        color: white;
        text-decoration: none;
        border: 1px groove black;
        padding: 1rem;
        margin: 0;
        
    }
  
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        color: white;
        background-color: white;
        
        
    }
    .container section {
        border: 1px solid black;
        background-color: white;
        color: black;
        border-radius: 10px;
    }
    .container section h2 {
        text-align: center;
        color: white;
        background-color: navy;
        margin: 0;
    }
    
 
    #weather-icon {
        width: 80px;
        height: auto;
        margin-top: 10px;
    }
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    figcaption {
        text-transform: capitalize;
        font-style: italic;
        font-size: 1rem;
        color: #333;
    }
   
    



    #card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    #card section {
        gap: 1rem;
        margin-top: 2rem;
        
    }
    #card section img {
        
        max-width: 320px;
        height: 100px;
        float: left;
       

    }
  
   

    footer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        

    }

}