*{box-sizing: border-box;}
:root {
    --primary-color: #002366;
    --secondary-color: #808080;
    --accent-color: #ffa500;
    --text-style: cursive;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;   
}
#menu::before {
    content:  "☰";
    color: white;
}
#menu.show::before {
    content: "✖";
    color: red;
    
}
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 1rem;
    width: 100%;
    
    
    
}  
header img {
    margin-left: 2.3rem;
    box-shadow: 0 0 30px #777;
    margin-bottom: 0.5rem;
}
.site-name {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5rem;
}
.site-name b {
    font-size: 1.5em;
}
#menu {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    padding: .25rem 2vw;
    width: 100%;
    text-align: right;
    border: none;
    margin-bottom: 5rem;

}
#menu-option  li a {
    border: 1px solid var(--primary-color);
    text-decoration: none;
    display: block;
    padding: .5rem 2vw;
    color: white;    
}
#menu-option li a:hover {
    background-color: var(--accent-color);
    text-decoration: underline;
}
#menu-option li {
    list-style: none;
}
li.active-item a {
    background-color: rgba(0, 0, 0, 0.5);

}




nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--primary-color);
    
}
nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

nav.show {
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 0;    
}
form {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px groove black;
    border-radius: 1rem;
    background-color: rgba(38, 0, 229, 0.152);
}
label {
    display: block;
    font-size: 1rem;
    padding-top: .5rem;
}
    
input[type=text],
input[type=tel],
input[type=email] {
    display: block;
    margin: .2rem;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    border-left-width: 7px;
    border-left-color: #555;
    font-size: 1.2rem;
    color: black;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.22);
}
    


select {
    display: block;
    margin: .2rem;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    border-left-width: 7px;
    border-left-color: #555;
    font-size: 1.2rem;
    color: black;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.22);
}   
input:required {border-left-color: #d70000;}
input:required:valid {border-left-color: green;}
input[type=submit] {
    border: 1px solid black;
    
    background-color: #3d405b;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    appearance: none;
    width: 100%;
        
        
}   
input[type="submit"]:hover {
    background-color: #007bff;
    transition: 0.3s ease-in-out;
} 
textarea {
    width: 100%;
    height: 5rem;
}
h2 {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    font-family: monospace;
}




h1 {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--text-style);
    font-size: 2rem;
}
.membership-cards h2 {
    border-bottom: 1px solid rgb(40, 14, 14);
    font-size: 1.5rem;
    font-family: monospace;
    margin-left: 1rem;
    
    
}
.form-cards {
    display: flex;
    flex-direction: column;
    
}

.membership-cards {
    display: flex;
    flex-direction: column;
    border: 1px groove black;
    border-radius: 1rem;
    background-color: rgba(38, 0, 229, 0.152);
    

}
.card {
    text-align: center;
    border: 1px groove #999;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #999;
}
button {
    margin-bottom: .5rem;
    cursor: pointer;
}
button:hover {
    color: red;
}
dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 70%;
    max-width: 600px;
    
}
::backdrop {
    background-color: rgba(38, 0, 229, 0.152);

}
dialog button {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: .1rem .1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    cursor: pointer;
    width: 30px;
    height: auto;
    
}
dialog h3 {
    display: flex;
    border-bottom: 1px solid;
    width: 100%;
    justify-content: flex-start;
    
}
dialog p {
    display: block;
}




footer {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1rem;

}   
footer div {
    flex-direction: column;
    justify-content: space-evenly;
}
