h1 {
    text-align: center;
    background-color: #002b5b;
    color: white;
    font-family: sans-serif;
}

h2 {
    background-color: brown;
    color: white;
    margin: 0;
}

#sin {
    font-size: large;
    font-weight: bold;
}
.container div {
    border: 1px outset black;
    border-radius: 10px;
    box-shadow: rbga(0, 0, 0, 0.2);
    margin: 1rem;
}
.purpose {
    margin: 0;
}
.container div p {
    margin-left: 1rem;
    margin-right: 1rem;
}
li {
    padding: .5rem;
}
.wirefram img {
    height: 200;
    width: 50%;
}
