@media screen and (min-width: 700px) {
    header {
        margin: 0;
        padding: 0; /* fixed typo here */
        background-color: #1e90b0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 0.5;
        margin: 0;
    }
    .top-header img {
        margin-bottom: 0.5rem;
    }
    .top-header span {
        color: white;
        font-weight: bold;
    }
    ul#menu-option {
        margin-top: 0;
        padding-top: 0;
    }

    #menu {
        display: none;
    }

    #menu-option {
        display: flex;
        justify-content: center;
        background-color: black;
        list-style: none;
        padding: 0.8rem 0;
        margin: 0;
        border-top: 2px saddlebrown;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        background-color: black;
        width: 100%;
       
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    li a {
        color: white;
        justify-content: center;
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
    }
    li a:hover {
        background-color: gray;
        color: white;
    } 
    li a:active {
        background-color: green;
        transition: 0.1s;
    } 

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid #ccc;
        gap: 20px;
        padding: 2rem;
    }
    .container img {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
    }
    .container section:nth-child(3) {
        grid-column: 1 / -1;
    }
    .container h2 {
        text-align: center;
    }
    .container p {
        text-align: center;
    }
    .buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 10px;
        margin: 0;
        background-color: white;
        
        

    }
    #Course-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
        border: 1px solid #ccc;
        border-radius: 10px;

        
    
    }
    button {
        border: none;
        background-color: tomato;
        padding: 1rem 2rem;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .course-item {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        background-color: brown;
        color: white;
        justify-content: center;
    }


}

